body, a {
<------>font-family: Verdana, Arial, Helvetica, sans-serif;.
<------>font-size: 16px;
<------>color: #434343;
}

 body{

        }.

.wrap {
<------>max-width: 1260px;
<------>min-width: 680px;
<------>margin: 0 auto;.
display: grid;
<------>grid-template-columns: repeat(4, 1fr);
<------>grid-gap: 2px;
<------>grid-template-areas:
<------><------>"header header header header"
<------><------>"nav nav nav nav"
<------><------>"main main main aside"
<------><------>"main main main aside"
<------><------>"footer footer footer footer";
}


header {
<------> /*background: #f5d781;*/
<------> text-align: center;
grid-area: header;
}

nav {
<------>list-style: none;.
   background: #7B68EE;
<------>flex-grow: row;
<------>grid-area: nav;
}


nav .title{
display: flex;
  <---->justify-content: space-around;
}

a {
<------>display: block;.
<------>padding: 10px 15px;.
<------>text-decoration: none;
<------>border-radius: 10px;
}

nav li a:hover {
<------>background: white;.
}

main {
<------>background: rgb(212, 212, 212);
<------>padding-bottom: 10px;
<------>display: flex;
<------>flex-wrap: wrap;
<------>padding-left: 40px;
<------>margin-top: 20px;
<------>grid-area: main;
....
}


main .item {
   background: #A9A9A9;
    width: 250px;
<------>padding: 10px;
<------>margin-top: 20px;
<------>margin: 10px;
<------>text-align: center;
}

main .item .item_text {
<------>margin-bottom: 30px;
<------>margin-top: 20px;
<------>text-align: center;
}


main .item .item_img img {
<------>margin-top: 50px;
<------>height: 130px;<>
}

main .colortext{
     color: red;.
   }
aside {
<------>float: left;
<------>margin-bottom: 1000px;
<------>background: #2F4F4F;
<------>grid-area: aside;
<------>margin-top: 20px;
<------>box-shadow: 30px 10px 5px #000;
<------>text-shadow: 30px 10px 5px #000;

}


aside menu {
<------>list-style: none;.
<------>padding-right: 40px;
<------>margin-top: 50px;

}

aside menu li {
<------>margin-top: 10px;.
}

aside menu li a {
<------>display: block;.
<------>padding: 10px 15px;..
<------>color: white;.
<------>text-decoration: none;.
<------>border-radius: 10px;
}
aside menu li a:hover {
<------>background: #f5d781;
<------>color:white;
<------>
}


footer {
<------>display: inline-block;
<------>margin-top: 70px;
<------>background: #DCDCDC;
<------>grid-area: footer;
<------>height:400px;
<------>text-indent: 100px;

}
.topbutton {
    width:100px;
    border:2px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:20px;
    right:50px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}



@media screen and (max-width: 920px){

body, a {
<------>font-family: Verdana, Arial, Helvetica, sans-serif;.
<------>font-size: 16px;
<------>color: #434343;
}

body, a {
<------>font-family: Verdana, Arial, Helvetica, sans-serif;.
<------>font-size: 16px;
<------>color: #434343;
}

.wrap {
<------>max-width: 1260px;
<------>min-width: 680px;
<------>margin: 0 auto;.
display: grid;
<------>grid-template-columns: repeat(3, 1fr);
<------>grid-gap: 2px;
<------>grid-template-areas:
<------><------>"header header header"
<------><------>"nav nav nav"
<------><------>"main main aside"
<------><------>"main main aside"
<------><------>"footer footer aside";
}


header {
<------>/* background: #f5d781;*/
<------> text-align: center;
grid-area: header;
}

nav {
<------>list-style: none;.
   background: #7B68EE;
<------>flex-grow: row;
<------>grid-area: nav;
}


nav .title{
display: flex;
  <---->justify-content: space-around;
}


a {
<------>display: block;.
<------>padding: 10px 15px;.
<------>text-decoration: none;
<------>border-radius: 10px;
}

nav li a:hover {
<------>background: white;.
}
main {
<------>background: rgb(212, 212, 212);
<------>padding-bottom: 10px;
<------>display: flex;
<------>flex-wrap: wrap;
<------>padding-left: 10px;
<------>margin-top: 20px;
<------>grid-area: main;
....
}


main .item {
   background: #A9A9A9;
    width: 250px;
<------>padding: 10px;
<------>margin-top: 20px;
<------>margin: 10px;
<------>text-align: center;
}

main .item .item_text {
<------>margin-bottom: 30px;
<------>margin-top: 20px;
<------>text-align: center;
}


main .item .item_img img {
<------>margin-top: 50px;
<------>height: 130px;<>
}

main .colortext{
     color: red;.
   }
aside {
<------>float: left;
<------>margin-bottom: 1000px;
<------>background: #2F4F4F;
<------>grid-area: aside;
<------>margin-top: 20px;
<------>box-shadow: 30px 10px 5px #000;
<------>text-shadow: 30px 10px 5px #000;

}


aside menu {
<------>list-style: none;.
<------>padding-right: 40px;
<------>margin-top: 50px;

}

aside menu li {
<------>margin-top: 10px;.
}

aside menu li a {
<------>display: block;.
<------>padding: 10px 15px;..
<------>color: white;.
<------>text-decoration: none;.
<------>border-radius: 10px;
}
aside menu li a:hover {
<------>background: #f5d781;
<------>color:white;
<------>
}


footer {
display: inline-block;
margin-top: 70px;
background: #DCDCDC;
grid-area: footer;
height:400px;
text-indent: 10px;
text-align: center;
}


.topbutton {
    width:100px;
    border:2px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:20px;
    right:50px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
}












@media screen and (max-width: 700px){

body, a {
<------>font-family: Verdana, Arial, Helvetica, sans-serif;.
<------>font-size: 16px;
<------>color: #434343;
}
pace-around;
}


a {
<------>display: block;.
<------>padding: 10px 15px;.
>text-decoration: none;
<------>border-radius: 10px;
}

nav li a:hover {
<------>background: white;.
}

main {
<------>background: rgb(212, 212, 212);
<------>padding-bottom: 10px;
<------>display: flex;
<------>flex-wrap: wrap;
<------>padding-left: 10px;
<------>margin-top: 20px;
<------>grid-area: main;
<------>padding-right: 200px;
....
}


main .item {
   background: #A9A9A9;
    width: 190px;
<------>padding: 10px;
<------>margin-top: 20px;
<------>margin: 10px;
<------>text-align: center;
}

main .item .item_text {
<------>margin-bottom: 30px;
<------>margin-top: 20px;
<------>text-align: center;
}


main .item .item_img img {
<------>margin-top: 50px;
<------>height: 100px;<>
}

main .colortext{
     color: red;.
   }
aside {
<------>float: left;
<------>margin-bottom: 50px;
<------>background: #2F4F4F;
<------>grid-area: aside;
<------>margin-top: 20px;
<------>box-shadow: 30px 10px 5px #000;
<------>text-shadow: 30px 10px 5px #000;


}


aside menu {
<------>list-style: none;.
<------>padding-right: 100px;
<------>margin-top: 50px;

}

aside menu li {
<------>margin-top: 10px;.

}

aside menu li a {
<------>display: block;.
<------>padding: 10px 15px;..
<------>color: white;.
<------>text-decoration: none;.
<------>border-radius: 10px;
}
aside menu li a:hover {
<------>background: #f5d781;
<------>color:white;
<------>
}


footer {
<------>display: inline-block;
<------>margin-top: 70px;
<------>background: #DCDCDC;
<------>grid-area: footer;
<------>height:400px;
<------>text-indent: 10px;
text-align: center;
<------>padding-right: 200px;

}


.topbutton {
    width:100px;
    border:2px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:20px;
    right:50px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}




}


